.educacao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 200px;
}

#educacao .section-titulo {
  background: var(--p1);
  color: var(--w);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.faculdade {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
  justify-content: center;
}

.formacao-faculdade {
  border-radius: 4px;
  border: 1px solid #e7e3e3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  max-width: 200px;
  position: relative;
}

.formacao-faculdade::before {
  content: "";
  background: var(--gradiente);
  width: 16px;
  height: 16px;
  position: absolute;
  left: -16px;
  top: 15px;
}

.formacao-titulo {
  margin-bottom: 10px;
}

.formacao-curso {
  margin-bottom: 10px;
}

.formacao-extra-titulo {
  margin-bottom: 10px;
}

.extra-lista li {
  display: flex;
  justify-content: space-between;
}

.cursos {
  margin-bottom: 40px;
  position: relative;
}

.cursos::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(/img/decoracao/cursos.svg) no-repeat center;
  left: -30px;
  top: 5px;
}

.idiomas {
  margin-bottom: 40px;
  position: relative;
}

.idiomas::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(/img/decoracao/idiomas.svg) no-repeat center;
  left: -30px;
  top: 5px;
}

@media (max-width: 600px) {
  .educacao {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .formacao-extra {
    margin-left: 15px;
  }
}
